:root{
        --hover-color:#CDA274;
        --title-color:#292F36;
        --text-color:#4D5053;
        --review-bcg:#F4F0EC;
        --buttons-bcg:#F4F0EC;
        --achievement-bcg:#CDA274;
        --bcg-color:#FFFFFF;
        --join-bcg:#292F36;
        --list-bcg: #E7E7E7;;
        --footer-brdr:#f5f5f5;
    }
  

    body{
        font-family:Jost;
    }
    
    .container{
        width: 1230px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        outline: 2px solid rgb(207, 173, 100);
    }
    
    .header{
        padding: 30px 0px;
    }
    
    .nav{
        margin-left: auto;
    }
    
    .header-box{
        display: flex;
        align-items: center;
    }
    
    .header-list{
        display: flex;
        
        gap: 40px;
    }
    
    .header-link{
        color:var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.4px;
    }
    
    .header-link:hover{
        color:var(--achievement-bcg);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.4px;
    }
    

    .hero{
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 195px 0px 260px 0px;
    }

.hero-title{
    width: 595px;
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 1.20; /* 120% */
letter-spacing: 0.22px;
margin-bottom: 12px;
}

.hero-desk{
    color: var(--text-color);
    width: 577px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 35px;
}

.hero-button{
    padding: 22px 67px 22px 34px;
    background-color: #292F36;
    color: var(--bcg-color);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.72px;
border: none;
border-radius: 15px;
}

/* features */

.features{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.features-list{
    display: flex;
    justify-content: center;

}

.features-item{
    padding-top: 75px;
    padding-left: 42px;
    padding-right: 41px;
    padding-bottom: 70px;
}

.features-title{
    color: var(--title-color);
font-family: "DM Serif Display";
text-align: center;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.56; /* 156% */
letter-spacing: 0.22px;
margin-bottom: 17px;
}

.features-desk:nth-child(1){
    width: 317px;
    color:var(--text-color);
    text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 68px;
}

.features-desk:nth-child(2){

    color:var(--text-color);
    width: 297px;
font-size: 22px;
text-align: center;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 35px;
}

.features-desk:nth-child(3){
    color:var(--text-color);
    text-align: center;
    width: 296px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 35px;
}

.features-btn{
    color: var(--text-color);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.36px;
border: none;
background-color:var(--bcg-color);

}

/* call */

.call-box{
    display: flex;
    justify-content: space-between;
}



.call-title{
    width: 450px;
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
margin-bottom: 42px;
}

.call-desk{
    width: 531px;
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-bottom: 40px;
}


.call-tel{
    color: #4D5053;
font-family: Jost;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.call-subtitle{
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    letter-spacing: 0.22px;
}


.call-button{
    border-radius: 18px;
    border: 2px solid var(--title-color);
    background: var(--title-color);
    color: var(--bcg-color);
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.72px;
    padding: 21px 67px 23px 34px;
}

.call-phone{
    display: flex;
}

.call-img{
    width: 592px;
height: 635px;
flex-shrink: 0;
}

/* preview */


.preview{
    padding-top: 139px;
   
}

.preview>.container{
    border-radius: 70px;
    background: var(--review-bcg);
    padding-top: 103px;
    padding-bottom: 121px;
}

.preview-title{
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 1.30; /* 130% */
letter-spacing: 0.22px;
width: 479px;
margin-bottom: 47px;
margin-left: auto;
margin-right: auto;
}



.preview-list{
    display: flex;
    gap: 18px;
    justify-content: center;
}

.preview-item{
    border-radius: 30px;
background: var(--bcg-color);
padding-top: 50px;
padding-right: 39px;
padding-bottom: 45px;
padding-left: 35px;
}

.preview-box{
    display: flex;
}

.preview-image{
    width: 77px;
height: 77px;
margin-right: 20px;
}

.preview-subtitle{
    color:var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;


}

.preview-desc{
    color:var(--text-color);
    font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
text-align: center;
margin-bottom: 32px;
}

.preview-subject{
    color:var(--text-color);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;

}

/* branding */


.branding{
padding-top: 141px;
padding-bottom: 113px;
    justify-content: space-around;
}

.branding-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-title{
    color: #292F36;
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-style: normal;
font-weight: 400;
line-height: 1.3; /* 132.766% */
letter-spacing: 0.22px;
}

.project-subtitle{
    color: #4D5053;
text-align: center;
font-family: Jost;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.22px;
}

.project-image{
    width: 590px;
    height: 661px;
    flex-shrink: 0;
}


/* footer */

.footer2{
    margin-top: 130px;
    margin-bottom: 80px;
    display: flex;
}

.footer-text{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-top: 15px;
padding-bottom: 30px;
width: 326px;
}

.footer-list{
    display: flex;
    gap: 40px;
    padding-bottom: 196px;
    padding-right: 228px;
}

.pages-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 21px;
}

.pages-list{
    margin-right: 97px;
}

.pages-item{
    padding-bottom: 30px;
}

.pages-link{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.explore-list{
    margin-right: 86px;
}

.explore-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
margin-right: 137px;
padding-bottom: 21px;
}

.explore-item{
    padding-bottom: 30px;
}

.explore-link{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.contact-title{
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
padding-bottom: 22px;
}

.contact-item{
    padding-bottom: 29px;
}

.contact-link{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.Copyright{
    border-top: 3px solid var(--footer-brdr) ;
    padding-top: 35px;
    padding-bottom: 36px;
}

.copyright-text{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.copyright-color{
    color: var(--hover-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}