.branding{
    padding-top: 141px;
    padding-bottom: 113px;
        justify-content: space-around;
    }
    
    .branding-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    