.Copyright{
    border-top: 3px solid var(--footer-brdr) ;
    padding-top: 35px;
    padding-bottom: 36px;
}

.copyright-text{
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.copyright-color{
    color: var(--hover-color);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}