.resent-image{
    width: 590px;
    height: 661px;
    flex-shrink: 0;
}


.recent{
    padding-top: 143px;
}

.recent-title{
    color: $title-color;
text-align: center;
font-family: "DM Serif Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 1.30; 
letter-spacing: 0.22px;
}

.recent-subtitle{
    color: $text-color;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; 
letter-spacing: 0.22px;
margin-top: 21px;
margin-bottom: 70px;
}

.recent-subtitle2{
    color: $text-color;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}

.recent-list{
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    flex-basis: calc((100% - 60px) /3);
row-gap: 60px;

}

.recent-item{
    width: 387px;
height: 515px;
border-radius: 62px;
border: 1px solid $list-bcg;
padding: 21px 21px 21px 21px ;
flex-basis:calc((100% - 40px) /3);
}



.recent-subject{
    color: $title-color;
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.40; /* 140% */
letter-spacing: 0.5px;
margin-top: 15px;
margin-bottom: 10px;
}

.recent-box{
    display: flex;
    align-items: center;
    margin-top: 34px;
}

.recent-item:nth-child(3)>.recent-subject{
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.22px;
}
